
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
 
  <app-header-admin></app-header-admin> 
<app-sidebar-admin></app-sidebar-admin> 

<div class="content-wrapper">

<div class="row">
  <div class="col-md-4">
    <app-gutilisateur-add></app-gutilisateur-add>
  </div>

  <div class="col-md-8">
      <app-gutilisateur-list></app-gutilisateur-list>
  </div>

</div>
</div>

<app-footer-admin></app-footer-admin>
<app-settings-admin></app-settings-admin> 

</div>
</body>