	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			 <div class="owl-carousel owl-theme home_slider">
			 	
			 	<!-- Slide -->
			 	<div class="slide">
			 		<div class="background_image" style="background-image:url(./../../assets/images/slide1.jpg)"></div>
			 		<div class="home_container">
			 			<div class="container">
			 				<div class="row">
			 					<div class="col">
			 						<div class="home_content">
			 							<div class="home_title"><h1>Declaration de naissance</h1></div>
			 							<div class="home_price_tag">Extrait de naissance</div>
			 						</div>
			 					</div>
			 				</div>
			 			</div>
			 		</div>
			 	</div>

			 	<!-- Slide -->
			 	<div class="slide">
			 		<div class="background_image" style="background-image:url(./../../assets/images/slide2.jpg)"></div>
			 		<div class="home_container">
			 			<div class="container">
			 				<div class="row">
			 					<div class="col">
			 						<div class="home_content">
			 							<div class="home_title"><h1>Declaration de mariage</h1></div>
			 							<div class="home_price_tag">Extrait de mariage</div>
			 						</div>
			 					</div>
			 				</div>
			 			</div>
			 		</div>
			 	</div>

			 	<!-- Slide -->
			 	<div class="slide">
			 		<div class="background_image" style="background-image:url(./../../assets/images/slide3.jpg)"></div>
			 		<div class="home_container">
			 			<div class="container">
			 				<div class="row">
			 					<div class="col">
			 						<div class="home_content">
			 							<div class="home_title"><h1>Declaration de deces</h1></div>
			 							<div class="home_price_tag">Extrait de décés</div>
			 						</div>
			 					</div>
			 				</div>
			 			</div>
			 		</div>
			 	</div>

			 </div>

			 <!-- Home Slider Navigation -->
			 <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
			 
		</div>
	</div>

	<!-- Search -->

<div class="search">
	<div class="container">
	  <div class="row">
		<div class="col">
		  <div class="search_container">
			<div class="search_title">Demande acte civil</div>
			<div class="search_form_container">
			  <form action="#" class="search_form" id="search_form">
				<div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
				  <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
					<input type="text" class="search_input" placeholder="Type acte" required="required">
					<input type="text" class="search_input" placeholder="Ville" required="required">
					<input type="text" class="search_input" placeholder="Etat civil" >
				  </div>
				  <button class="search_button">Chercher</button>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  