<!-- Featured -->

<div class="featured">
	<div class="container">
		<div id="demarche" class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_subtitle">Téléprocédures</div>
					<div class="section_title">
						<h1>Démarches administratives</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row featured_row">

			<!-- Featured Item -->
			<div class="col-lg-4">
				<div class="listing">
					<div class="listing_image">
						<div class="listing_image_container">
							<img src="./../../assets/images/extrait_naissance.png" alt="">
						</div>
						<div
							class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
							<div class="listing_small_tag tag_house"><a href="#" data-toggle="modal"
									data-target="#stepModalForm">Naissance</a></div>
						</div>
					</div>
					<div class="listing_content">
						<div
							class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
							<img src="./../../assets/images/icon_1.png" alt="">
							<a href="#" data-toggle="modal" data-target="#stepModalForm">L'extrait du registre des actes
								de naissance est la reproduction de l’acte de naissance ...</a>
						</div>

					</div>
				</div>
			</div>

			<!-- Featured Item -->
			<div class="col-lg-4">
				<div class="listing">
					<div class="listing_image">
						<div class="listing_image_container">
							<img src="./../../assets/images/certificat_mariage.jpg" alt="">
							<div
								class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
								<div class="listing_small_tag tag_house"><a href="#" data-toggle="modal"
										data-target="#stepModalForm">Mariage</a></div>
							</div>
						</div>
					</div>
					<div class="listing_content">
						<div
							class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
							<img src="./../../assets/images/icon_1.png" alt="">
							<a href="#" data-toggle="modal" data-target="#stepModalForm">La copie littérale d'acte de
								mariage est la reproduction intégrale de l'acte originel de mariage ...</a>
						</div>

					</div>
				</div>
			</div>


			<!-- Featured Item -->
			<div class="col-lg-4">
				<div class="listing">
					<div class="listing_image">
						<div class="listing_image_container">
							<img src="./../../assets/images/bulletin_deces.jpg" alt="">
							<div
								class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
								<div class="listing_small_tag tag_house"><a href="#" data-toggle="modal"
										data-target="#stepModalForm">Décès</a></div>
							</div>
						</div>
					</div>
					<div class="listing_content">
						<div
							class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
							<img src="./../../assets/images/icon_1.png" alt="">
							<a href="#" data-toggle="modal" data-target="#stepModalForm">L'extrait du registre des actes
								de décès est la reproduction intégrale de l’acte de décès ...</a>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Modal -->
<form  id="myForm" role="form" data-toggle="validator">

	<div class="modal fade" id="stepModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">

			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title">Naissance</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div lass="modal-body mt-5 mb-5">
					<div id="stepwizard">
						<ul>
							<li><a href="#step1">Rechercher commune<br /> <small>Motif demende</small> </a></li>
							<li><a href="#step2">Type d'acte<br /> <small> Nature de la demande</small> </a></li>
							<li><a href="#step3">Identification<br /> <small> Numéro registre</small> </a></li>
							<li><a href="#step4">Récapitulatif et envoi<br /> <small> Mode envoi</small> </a></li>
						</ul>

						<div>
							<div id="step1">
								<div class="form-group">
									Rechercher Commune
									<hr>
									Vous souhaitez obtenir une copie ou un extrait d'acte d'état civil, pour une
									personne
									née eau Sénégal.Vous pouvez effectuer votre demande en ligne auprès de la commune
									concernée. Suivant la commune, vous la transmettrez de façon électronique ou par
									courrier postal. Votre commune vous expédiera le document demandé par courrier
									postal.
									Ce service est ouvert exclusivement aux particuliers.
								</div>

								<div id="form-step-0" role="form" data-toggle="validator">
									<div class="form-group">
										<label for="motif">Motif de la demande</label>
										<select id="motif" name="motif" [(ngModel)]="motif"
											class="form-control text-dark" required>
											<option disabled selected value=""> -- séléctionner -- </option>
											<option value="Carte national d'identité">Carte national d'identité</option>
											<option value="Passport">Passport</option>
											<option value="certificat de nationalité sénégalaise">certificat de
												nationalité sénégalaise</option>
											<option value="Mariage">Mariage</option>
											<option value="Pension">pension</option>
											<option value="Precédure judiciaire">Precédure judiciaire</option>
											<option value="Acte de notaire">Acte de notaire</option>
											<option value="Autre">Autre</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>

									<div class="form-group">
										<label for="commune">Commune concernée par l’acte</label>
										<select id="commune" name="commune" [(ngModel)]="commune"
											class="form-control text-dark" required>
											<option disabled selected value> -- séléctionner -- </option>
											<option *ngFor="let com of service.list" [ngValue]="com.libelle"
												value="{{com.id}}">
												{{com.libelle}}</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>
								</div>




								<!--	
									  <div class="form-group">
										<label for="exampleInputPassword1">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
									  </div>
									  <div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck1">
											<label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
										  </div>
										  <br/>

										  <input class="form-control" type="text" placeholder="Default input">
										  <br/>

										  <div class="custom-file">
												<input type="file" class="custom-file-input" id="customFile">
												<label class="custom-file-label" for="customFile">Choose file</label>
											  </div>
										<br/>	  
										  
										  
											  <label for="customRange1">Example range</label>
												<input type="range" class="custom-range" id="customRange1">
												<br/> -->

							</div>
							<div id="step2">
								<div id="form-step-1" role="form" data-toggle="validator">
									<div class="form-group">
										Type d'acte
										<hr>
										La commune : ..... n’est pas en mesure de recevoir votre demande d’acte d’état
										civil de
										manière dématérialisée. Vous pouvez cependant compléter le formulaire de demande
										d’acte,
										à l’issue de la saisie vous pourrez télécharger et imprimer la demande complétée
										et
										l’expédier par courrier postal à l’adresse de la commune. Le document demandé
										vous sera
										expédié en retour par courrier postal.
									</div>
									<div class="form-group">
										<label for="typ_decla">Type d’acte</label>
										<select id="typ_decla" name="typ_decla" [(ngModel)]="type"
											class="form-control text-dark" required>
											<option value="" disabled selected> -- séléctionner -- </option>
											<option *ngFor="let typ_decla of ser_typ_decla.list"
												[ngValue]="typ_decla.type" value="{{typ_decla.id}}">
												{{typ_decla.type}}</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>

									<div class="form-group">
										<label for="qualite">Qualité du demandeur</label>
										<select id="qualite" name="qualite" [(ngModel)]="qualite"
											class="form-control text-dark" required>
											<option disabled selected value> -- séléctionner -- </option>
											<option value="La personne concernée par l'acte">La personne concernée par
												l'acte</option>
											<option value="Son pére ou sa mère">Son pére ou sa mère</option>
											<option value="Son conjoint ou sa conjointe">Son conjoint ou sa conjointe
											</option>
											<option value="Son fils ou sa fille">Son fils ou sa fille</option>
											<option value="Son représentant légal">Son représentant légal</option>
											<option value="Autre">Autre</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>

									<div class="form-group">
										<label for="nature">Nature de l'acte</label>
										<select id="nature" name="nature" [(ngModel)]="nature"
											class="form-control text-dark" required>
											<option disabled selected value> -- séléctionner -- </option>
											<option value="Copie intégrale">Copie intégrale</option>
											<option value="Extrait avec filiation">Extrait avec filiation</option>
											<option value="Extrait sans filiation">Extrait sans filiation</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>

									<div class="form-group">
										<label for="nombre">Nombre d'exemplaire</label>
										<select id="nombre" name="nombre" [(ngModel)]="nombre"
											class="form-control text-dark" required>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
										<div class="help-block with-errors text-danger"></div>
										<br />
									</div>

								</div>
							</div>

							<div id="step3">

								<div class="form-group">
									Identification
									<hr>
								</div>

								<div id="form-step-2" role="form" data-toggle="validator">
									<div class="form-group">

										<div>
											<label for="identite">Identité de la personne faisant l'objet de la
												demande</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											<input  [(ngModel)]="civilite" checked type="radio" id="civilite1" name="civilite"
												value="Monsieur" class="custom-control-input">
											<label class="custom-control-label" for="civilite1">Monsieur</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
											<input  [(ngModel)]="civilite" type="radio" id="civilite2" name="civilite" value="Madame"
												class="custom-control-input">
											<label class="custom-control-label" for="civilite2">Madame</label>
										</div>

										<div class="row">
											<div class="col">
												<label for="nom">Nom</label>
												<input [(ngModel)]="nom" type="text" name="nom"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
											<div class="col">
												<label for="prenoms">Prénoms</label>
												<input [(ngModel)]="prenom" type="text" name="prenom"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<label for="numero">Numéro régistre</label>
												<input [(ngModel)]="numero" type="number" name="numero"
													class="form-control text-dark" required />
												<div class="help-block with-errors text-danger"></div>
											</div>
											<div class="col">
												<label for="date">Date de naissance</label>
												<div id="datenaiss" class="input-daterange">
													<input [(ngModel)]="datenaiss" name="datenaiss" type="text"
														class="form-control text-dark" required />
													<div class="help-block with-errors text-danger"></div>
												</div>
											</div>
										</div>
										<br />


										<hr>
										Filiation paternelle
										<hr>
										<div class="row">
											<div class="col">
												<label for="nom_pere">Nom</label>
												<input type="text" [(ngModel)]="nom_pere" name="nom_pere"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
											<div class="col">
												<label for="prenom_pere">Prénoms</label>
												<input type="text" [(ngModel)]="prenom_pere" name="prenom_pere"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
										</div>

										<hr>
										Filiation maternelle
										<hr>
										<div class="row">
											<div class="col">
												<label for="nom_mere">Nom</label>
												<input type="text" [(ngModel)]="nom_mere" name="nom_mere"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
											<div class="col">
												<label for="prenom_mere">Prénoms</label>
												<input type="text" [(ngModel)]="prenom_mere" name="prenom_mere"
													class="form-control text-dark" required>
												<div class="help-block with-errors text-danger"></div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div id="step4">
								<div class="form-group">
									Récapitulatif et envoi
									<hr>
									Votre démarche est bientôt terminée.
									Veuillez vérifier l’exactitude des informations que vous avez communiquées. Vous
									pouvez les modifier le cas échéant en cliquant sur le bouton «Précedent».
								</div>

								<div id="form-step-3" role="form" data-toggle="validator">
									Rechercher commune
									<hr>
									<div class="form-group">
										<div class="row">
											<div class="col">
												Motif de la demande: {{motif}}
											</div>
											<div class="col">
												Commune concernée: {{commune}}
											</div>
										</div>
										<hr>

										Type d'acte
										<hr>
										<div class="row">
											<div class="col">
												Type d'acte: {{type}}
											</div>
											<div class="col">
												Qualité du demandeur: {{qualite}}
											</div>
										</div>
										<div class="row">
											<div class="col">
												Nature de l'acte: {{nature}}
											</div>
											<div class="col">
												Nombre d'exemplaire: {{nombre}}
											</div>
										</div>
										<hr>

										Identification
										<hr>
										<div class="row">
											<div class="col">
												Civilité: {{civilite}}
											</div>
										</div>
										<div class="row">
											<div class="col">
												Nom: {{nom}}
											</div>
											<div class="col">
												Prénoms: {{prenom}}
											</div>
										</div>
										<div class="row">
											<div class="col">
												Numéro régistre: {{numero}}
											</div>
											<div class="col">
												Date de naissance: {{datenaiss}}
											</div>
										</div>
										<div class="row">
											<div class="col">
												Filiation paternelle
											</div>
										</div>
										<div class="row">
											<div class="col">
												Nom : {{nom_pere}}
											</div>
											<div class="col">
												Prénoms: {{prenom_pere}}
											</div>
										</div>
										<div class="row">
											<div class="col">
												Filiation maternelle
											</div>
										</div>
										<div class="row">
											<div class="col">
												Nom: {{nom_mere}}
											</div>
											<div class="col">
												Prénoms: {{prenom_mere}}
											</div>
										</div>



									</div>

									<div class="row">
										<div class="col">
											<h3 class="panel-title">
												Adresse réception de l'acte
											</h3>
											<br />

											<label for="reception">L'adresse de réception de l'acte est-elle au Sénégal ?</label>
											<div class="custom-control custom-radio custom-control-inline">
												<input [(ngModel)]="reception" checked type="radio" id="reception1" name="reception"
													value="Oui" class="custom-control-input">
												<label class="custom-control-label" for="reception1">Oui</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input [(ngModel)]="reception" type="radio" id="reception2" name="reception" value="Non"
													class="custom-control-input">
												<label class="custom-control-label" for="reception2">Non</label>
											</div>
											<br />
											<label for="adresse">Adresse</label>
											<input type="text"  [(ngModel)]="adresse" class="form-control text-dark" id="adresse" name="adresse"   />
											<label for="postal">Boite postal</label>
											<input type="text"  [(ngModel)]="postal" class="form-control text-dark" id="postal" name="postal" />
											
											<label for="motif">Pays</label>
										<select id="pays" name="pays" [(ngModel)]="pays"
											class="form-control text-dark" required>
											<option disabled selected value=""> -- séléctionner -- </option>
											<option value="France">France</option>
											<option value="Togo">Togo</option>
											<option value="Allemagne">Allemagne</option>
											<option value="Belgique">Belgique</option>
											<option value="Guinée Bissau">Guinée Bissau</option>
											<option value="Mali">Mali</option>
											<option value="Cameroun">Cameroun</option>
										</select>
										<div class="help-block with-errors text-danger"></div>

												<label for="email">Email addresse</label>
												<input [(ngModel)]="email" name="email" class="form-control text-dark" type="email" id="email" placeholder="Enter email">
												<div class="help-block with-errors text-danger"></div>
											</div>
										<div class="col">
											<h3 class="panel-title">
												Details Paiement
											</h3>
											<img class="img" src="assets/images/orange.jpg" />
											<img class="img" src="assets/images/free.jpg" />
											<img class="img" src="assets/images/expresso.jpg" />
											<br />
											<label for="montant">Montant</label>
											<input type="text"  [(ngModel)]="montant" class="form-control text-dark" id="montant" name="montant" value="750 FCFA" readonly />
											<label for="tel">Numéro téléphone</label>
											<input type="number" [(ngModel)]="tel" class="form-control text-dark" id="tel" name="tel" placeholder="Numéro de téléphone" required autofocus />
											<div class="help-block with-errors text-danger"></div>

											<label for="code">Code d'autorisation</label>
											<input type="password" [(ngModel)]="code" class="form-control text-dark"  id="code" name="code" placeholder="Code" required />
											<div class="help-block with-errors text-danger"></div>
											<br />
											<button (click)="payer()" class="btn btn-primary btn-lg btn-block" >Payer</button>

										</div>

									</div>


								</div>
							</div>
						</div>
					</div>

					<div style="margin-left: 20;"><button [disabled]="paye" (click)="onSubmit()" class="btn btn-success">Valider</button> </div>
				</div>
				
			</div>
		</div>

	</div>

</form>
<!-- Modal -->