
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">

     <app-header-admin></app-header-admin>  
  <app-header-admin></app-header-admin> 
<app-sidebar-admin></app-sidebar-admin> 

<div class="content-wrapper">
  
<div class="row">

<div class=" box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"> Liste des déclarations de naissance</h3>
  </div>
  <div class="box-body">
    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table datatable [dtOptions]="dtOptions" id="table" class="table table-bordered table-striped table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
              <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">ID</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Date</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Numéro</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Officier(s)</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Genre</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"> Nom</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Prénom </th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Date naissance</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Lieu naissance</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Progression</th>
                <th class="text-center">Statut</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Actions</th>
              
              </tr>
            </thead>
            <tbody>
<tr *ngFor="let naiss of this.service.list" role="row" class="odd" >
              <td class="sorting_1">{{naiss.idDeclaration.id}}</td>
              <td>{{naiss.idDeclaration.date}}</td>
              <td >{{naiss.idDeclaration.numero}}</td>
              <td >
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img style="width: 50%" alt="Avatar" class="table-avatar" src="../../../../assets/images/avatar.png">
                    </li>
                </ul>
            </td>
              <td >{{naiss.genre}}</td>
              <td >{{ naiss.nom}}</td>
              <td >{{ naiss.prenom}}</td>
              <td >{{ naiss.datenaiss }} </td>
              <td >{{ naiss.lieunaiss }}</td>

              <td class="project_progress">
                <div class="progress progress-sm">
                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="57" aria-volumemin="0" aria-volumemax="100" style="width: 57%">
                    </div>
                </div>
                <small>
                    57% Complete
                </small>
            </td>
              <td >
                <a (click)="valideNaissance(naiss)" [ngClass]="etat ? 'btn btn-success btn-lg active' : 'btn btn-danger btn-lg active'"  role="button" aria-pressed="true">{{this.texte}}</a>
              
              </td>
                <td>
                  <a class="link-black text-lg" mwlConfirmationPopover [popoverTitle]="popoverTitle" *ngIf="this.etat!=null"
                   [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteNaissance(naiss)"
                   (cancel)="cancelClicked = true"><i class="fa fa-fw fa-trash-o margin-r-5"></i>
                </a>
                <a class="link-warning text-lg" (click)="populateNaissance(naiss)" data-toggle="modal"
                data-target="#exampleModal"><i class="fa fa-th margin-r-5" aria-hidden="true"></i>
             </a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <div class="row">
         <div >
           <h4 class="modal-title" id="exampleModalLabel">Déclaration de naissance</h4>
         </div>
         <div>
         </div>
         <div >
           <button type="button" class="close" data-dismiss="modal"
                   aria-label="Close">
             <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
           </button>

         </div>
       </div>
     </div>

     <div class="modal-body">

       <div class="row">
         <div class="col-md-12">
           <div class="col-md-7 form-group">        
            <div class="input-group">
              <div >
                <h4 class="modal-title" id="exampleModalLabel">Genre : </h4>
              </div>
              <div >
                <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.genre}}</h4>
              </div>
             </div>
           </div>
         </div>
       </div>

       <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Nom : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.nom}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Prénom : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.prenom}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Date naissance : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.datenaiss}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Lieu naissance : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.lieunaiss}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Heure naissance : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.heurenaiss}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Nom pére : </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.nomPere}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Prénom pére: </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.prenomPere}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Nom mère: </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.nomMere}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Prénom mère: </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.prenomMere}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-7 form-group">          
           <div class="input-group">
             <div >
               <h4 class="modal-title" id="exampleModalLabel">Mention marginal: </h4>
             </div>
             <div >
               <h4 class="modal-title" id="exampleModalLabel"> {{this.service.formData.mentionMarginal}}</h4>
             </div>
            </div>
          </div>
        </div>
      </div>

     </div>

     <div class="modal-footer">
      <p class="font-italic">Récapitulatif demande déclaration de naissance .</p>
     </div>
   </div>

   
</div>
</div>


</div>


</div>
</div>

<app-footer-admin></app-footer-admin>
<app-settings-admin></app-settings-admin> 

</div>
</body>



