<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">AJOUT / MODIFICATION Commune </h3>
    <a (click)="this.resetForm()" class="fa-pull-right btn btn-default">
      <i class="fa fa-refresh"></i>
    </a>
  </div>
  <form #form="ngForm" (submit)="onSubmit(form)" class="form-horizontal" autocomplete="off" *ngIf="service.formData">
    <div class="box-body">
      <input hidden="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

      <div class="form-group">
        <label for="code" class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
          <input name="code" #code="ngModel" [(ngModel)]="service.formData.code" placeholder="Code" class="form-control"
            required>
          <div class="validation-error" *ngIf="code.invalid && code.touched">Ce champs est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="libelle" class="col-sm-2 control-label">Libellé</label>
        <div class="col-sm-10">
          <input class="form-control" name="libelle" #libelle="ngModel" [(ngModel)]="service.formData.libelle"
            placeholder="Libelle" required>
          <div class="validation-error" *ngIf="libelle.invalid && libelle.touched">Ce champs est requis</div>
        </div>
      </div>
      <div class="form-group">
        <label for="idDepartement" class="col-sm-2 control-label">Département</label>
        <div class="col-sm-10">
          <select #idDepartement="ngModel" name="idDepartement" [(ngModel)]="service.formData.idDepartement"
											class="form-control text-dark" required>
											<option disabled selected value> -- séléctionner -- </option>
											<option *ngFor="let com of listArron" [ngValue]="com"
												value="{{com.id}}">
												{{com.libelle}}</option>
										</select>
          <div class="validation-error" *ngIf="idDepartement.invalid && idDepartement.touched">Ce champs est requis</div>
        </div>
      </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="form-group">
        <div class="col-md-12">
          <input type="submit" [disabled]="form.invalid" value="Valider" class="btn btn-info btn-block" />
        </div>
      </div>
    </div>
  </form>
</div>
