
	<!-- Menu -->

	<div class="menu text-right">
		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="menu_log_reg">
			<div class="log_reg d-flex flex-row align-items-center justify-content-end">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="#" data-target="#elegantModalForm">Connexion</a></li>
					<li><a href="#" data-target="#elegantModalForm">Inscription</a></li>
				</ul>
			</div>
			<nav class="menu_nav">
				<ul>
					<li><a routerLink="" routerLinkActive="active">Accueil</a></li>
					<li><a routerLink="/components/demarche">Demarches</a></li>
					<li><a href="listings.html">Actes</a></li>
					<li><a href="blog.html">Actualites</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>