
	<!-- Featured -->

	<div class="featured">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">Téléprocédures</div>
						<div class="section_title"><h1>Démarches administratives</h1></div>
					</div>
				</div>
			</div>
			<div class="row featured_row">
				
				<!-- Featured Item -->
				<div class="col-lg-4">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="./../../assets/images/extrait_naissance.png" alt="">
							</div>
							<div class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                <div class="listing_small_tag tag_house"><a href="#">Naissance</a></div>
                            </div>
						</div>
						<div class="listing_content">
							<div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
								<img src="./../../assets/images/icon_1.png" alt="">
								<a href="#">L'extrait du registre des actes de naissance est la reproduction de l’acte de naissance ...</a>
							</div>
						
						</div>
					</div>
				</div>

			<!-- Featured Item -->
      <div class="col-lg-4">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="./../../assets/images/certificat_mariage.jpg" alt="">
								<div class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
									<div class="listing_small_tag tag_house"><a href="#">Mariage</a></div>
								</div>
							</div>
						</div>
						<div class="listing_content">
							<div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
								<img src="./../../assets/images/icon_1.png" alt="">
								<a href="#">La copie littérale d'acte de mariage est la reproduction intégrale de l'acte originel de mariage ...</a>
							</div>
						
						</div>
					</div>
				</div>

    
        <!-- Featured Item -->
				<div class="col-lg-4">
            <div class="listing">
              <div class="listing_image">
                <div class="listing_image_container">
				  <img src="./../../assets/images/bulletin_deces.jpg" alt="">
				  <div class="listing_small_tags d-flex flex-row align-items-start justify-content-start flex-wrap">
					<div class="listing_small_tag tag_house"><a href="#">Décès</a></div>
				</div>
                </div>
              </div>
              <div class="listing_content">
                <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                  <img src="./../../assets/images/icon_1.png" alt="">
                  <a href="#">L'extrait du registre des actes de décès est la reproduction intégrale de l’acte de décès ...</a>
                </div>
              
              </div>
            </div>
          </div>

			</div>
		</div>
	</div>