<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">
                
                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_about">
                        <div class="footer_logo"><a href="#">Service-Public<span>.sn</span></a></div>
                        <div class="footer_text">
                            <p>Service-public.sn a pour mission d'informer l'usager et de l'orienter vers les services qui lui permettent d'accomplir ses démarches administratives. C'est le site officiel de l'administration sénégal, le portail unique de renseignement administratif et d'accès aux services en ligne.</p>
                        </div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_submit"><a href="#">Chercher</a></div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_column">
                        <div class="footer_title">Information</div>
                        <div class="footer_info">
                            <ul>
                                <!-- Phone -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="./../../assets/images/phone-call.svg" alt=""></div>
                                    <span>+221 33 835 09 22</span>
                                </li>
                                <!-- Address -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="./../../assets/images/placeholder.svg" alt=""></div>
                                    <span>Hlm Yoff, no 20119, Dakar</span>
                                </li>
                                <!-- Email -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><img src="./../../assets/images/envelope.svg" alt=""></div>
                                    <span>administration@gouv.sn</span>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                    <div class="footer_links">
                        <div class="footer_title">Nos engagements</div>
                        <ul>
                            <li><a href="#">Engagements et qualité</a></li>
                            <li><a href="#">Accessibilité</a></li>
                            <li><a href="#">Données personnelles et sécurité</a></li>
                            <li><a href="#">Mise à disposition des données</a></li>
                            <li><a href="#">Partenaire</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-xl-3 col-lg-6 footer_col">
                            <div >
                                <h2>S'abonner</h2>
                                
                                <p>Pour recevoir les dernières informations.</p>
                                
                                <form action="" method="post" role="form">
                                    <input class="form-control" type="text" id="" name="" placeholder="your@email.com">
                                    <br />
                                    <input type="submit" value="S'abonner" class="btn btn-large btn-primary" />
                              </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                        <div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Direction de l'information légale et administrative - <a href="#" target="_blank">Mentions légales</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                        <nav class="footer_nav order-md-2 order-1 ml-md-auto">
                            <ul class="d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                                <li><a href="index.html">Accueil</a></li>
                                <li><a href="about.html">Demarches</a></li>
                                <li><a href="listings.html">Actes</a></li>
                                <li><a href="blog.html">Actualites</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>