<div class="container">
  <br />
  <div><h1>Contacter Nous</h1></div>
  <br />
  <div class="row">
      <div class="col-md-6">
          <div id="googlemap" style="width:100%; height:350px;"></div>
      </div>
      <br />
      <div class="col-md-6">
          <form class="my-form">
              <div class="form-group">
                  <label for="form-name">Nom</label>
                  <input type="email" class="form-control" id="form-name" placeholder="Name">
              </div>
              <div class="form-group">
                  <label for="form-email">Email </label>
                  <input type="email" class="form-control" id="form-email" placeholder="Email Address">
              </div>
              <div class="form-group">
                  <label for="form-subject">Téléphone</label>
                  <input type="text" class="form-control" id="form-subject" placeholder="Subject">
              </div>
              <div class="form-group">
                  <label for="form-message"> Message</label>
                  <textarea class="form-control" id="form-message" placeholder="Message"></textarea>
              </div>
              <button class="btn btn-default" type="submit">Contacter nous</button>                
          </form>
      </div>
  </div>

<br/>
</div>


